<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Kent.dao.BookDao">
    <resultMap id="bookResultMap" type="Book"></resultMap>

    <!--修改-->
    <update id="update">
        update tbl_book
        <set>
            <if test = "type != null and type != ''">
                type = #{type},
            </if>
            <if test= "name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--條件分頁查詢-->
    <select id="selectByPageAndCondition" resultMap="bookResultMap">
        select *
        from tbl_book
        <where>
            <if test="book.type != null and book.type != '' ">
                and  type like #{book.type}
            </if>

            <if test="book.name != null and book.name != '' ">
                and name like #{book.name}
            </if>

            <if test="book.description != null and book.description != ''">
                and description like #{book.description}
            </if>

        </where>

        limit #{begin} , #{size}
    </select>

</mapper>